.navbar {
  min-height: 72px;
  padding: 0 50px;

  display: flex;
  align-items: center;
  gap: 35px;

  background: #111111;
  color: white;

  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 25px;
  font-weight: 800;
  color: white;
  white-space: nowrap;
}

.logo span {
  color: #16a34a;
}

.search-box {
  flex: 1;
  max-width: 550px;

  display: flex;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  padding: 13px 16px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-box button {
  border: none;
  padding: 0 20px;

  background: #16a34a;
  color: white;

  font-weight: bold;
}

.search-box button:hover {
  background: #0b6b32;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-links a {
  color: white;
  font-size: 14px;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #16a34a;
}

.nav-links a:nth-child(2),
.nav-links a:nth-child(3) {
  font-size: 20px;
}

.login-link {
  padding: 10px 18px;
  border: 1px solid #16a34a;
  border-radius: 6px;
}

.login-link:hover {
  background: #16a34a;
  color: white !important;
}

@media (max-width: 900px) {
  .navbar {
    padding: 15px 20px;
    flex-wrap: wrap;
  }

  .search-box {
    order: 3;
    max-width: none;
    width: 100%;
  }

  .nav-links {
    margin-left: auto;
  }
}